In [77]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np

from prettytable import PrettyTable

import glob
sns.set(style='darkgrid', palette = 'pastel')
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', None)

### Load agency data

In [14]:
file_list = glob.glob(r'agency\*.csv')

In [23]:
# combine 56 states data into one dataframe
df_agency = pd.DataFrame()
for file in file_list:
    df = pd.read_csv(file)
    df_agency = df.append(df_agency, ignore_index=True)

In [24]:
df_agency.shape

(18887, 13)

In [25]:
df_agency.head()

,ori,agency_name,agency_id,state_abbr,division_name,region_name,region_desc,county_name,agency_type_name,nibrs,nibrs_start_date,latitude,longitude
0,WY0010000,Albany County Sheriff's Office,21857,WY,Mountain,West,Region IV,ALBANY,County,True,2021-01-01T00:00:00.000Z,41.31,-105.59
1,WY0010100,Laramie Police Department,21858,WY,Mountain,West,Region IV,ALBANY,City,True,2018-01-01T00:00:00.000Z,41.67,-105.72
2,WY0010200,University of Wyoming,21859,WY,Mountain,West,Region IV,ALBANY,University or College,True,2021-01-01T00:00:00.000Z,41.67,-105.72
3,WY0020000,Big Horn County Sheriff's Office,21860,WY,Mountain,West,Region IV,BIG HORN,County,False,NaN,44.53,-107.99
4,WY0020100,Basin Police Department,21861,WY,Mountain,West,Region IV,BIG HORN,City,False,NaN,44.53,-107.99

print out the unique value for each feature (<20)

In [57]:
table = PrettyTable(max_width=10, align='l')

table.field_names = ['Feature', 'Data Type', '# of unique data #', 'unique value']
for column in df_agency.columns:
    data_type = str(df_agency[column].dtype)
    number_unique = len(df_agency[column].unique())
    if number_unique <20:
        unique_value = df_agency[column].value_counts().index.to_list()
    else:
        unique_value = "NA"
    table.add_row([column, data_type, number_unique, unique_value ])
print(table)

+------------------+-----------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Feature          | Data Type | # of unique data # | unique value                                                                                                                                                                            |
+------------------+-----------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| ori              | object    | 18887              | NA                                                                                                                                                                                      |
| agency_name      | object    | 14109              | NA                                                                                                                                                                                      |
| agency_id        | object    | 18887              | NA                                                                                                                                                                                      |
| state_abbr       | object    | 53                 | NA                                                                                                                                                                                      |
| division_name    | object    | 10                 | ['South Atlantic', 'East North Central', 'Middle Atlantic', 'West South Central', 'West North Central', 'East South Central', 'Pacific', 'Mountain', 'New England', 'U.S. Territories'] |
| region_name      | object    | 5                  | ['South', 'Midwest', 'Northeast', 'West', 'U.S. Territories']                                                                                                                           |
| region_desc      | object    | 5                  | ['Region III', 'Region II', 'Region I', 'Region IV', 'U.S. Territories']                                                                                                                |
| county_name      | object    | 2359               | NA                                                                                                                                                                                      |
| agency_type_name | object    | 7                  | ['City', 'County', 'State Police', 'Other State Agency', 'University or College', 'Other', 'Tribal']                                                                                    |
| nibrs            | object    | 2                  | [True, False]                                                                                                                                                                           |
| nibrs_start_date | object    | 382                | NA                                                                                                                                                                                      |
| latitude         | float64   | 10520              | NA                                                                                                                                                                                      |
| longitude        | float64   | 10511              | NA                                                                                                                                                                                      |
+------------------+-----------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

### Load population data

data source: Intercensal Estimates of the Total Resident Population of States, by Population Distribution Branch
US Bureau of the Census

population data for 1960-2000 is in txt format; 2000-2023 data is in csv format.

#### 1. 6070 data

In [207]:
df = pd.read_table(r'population/st6070ts.txt', skiprows=12, header=None)
df.head()

                                                                    0
0               April 1,  July 1,  July 1,  July 1,  July 1,  July 1,
1                   1960     1960     1961     1962     1963     1964
2  U.S.          179,323  179,975  182,973  185,738  188,438  191,085
3  Northeast      44,678   44,802   45,384   45,833   46,402   46,953
4  Midwest        51,619   51,715   52,185   52,583   53,073   53,655

In [208]:
# split column 0 by whitespace
df['population'] = df.loc[:,0].apply(lambda x: ' '.join(x.split()))
df = df['population'].str.split(' ', expand=True)

In [209]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,April,"1,",July,"1,",July,"1,",July,"1,",July,"1,",July,"1,"
1,1960,1960,1961,1962,1963,1964,None,None,None,None,None,None
2,U.S.,"179,323","179,975","182,973","185,738","188,438","191,085",None,None,None,None,None
3,Northeast,"44,678","44,802","45,384","45,833","46,402","46,953",None,None,None,None,None
4,Midwest,"51,619","51,715","52,185","52,583","53,073","53,655",None,None,None,None,None

In [210]:
# find the row number which indicates the 2nd session of data
df[df.iloc[:,0].str.contains('1965')]

      0     1     2     3     4     5     6     7     8     9     10    11
59  1965  1966  1967  1968  1969  1970  None  None  None  None  None  None

In [211]:
df_1 = df[1:58]
display(df_1.head(), df_1.tail())

df_2 = df[59:]
display(df_2.head(), df_2.tail())

,0,1,2,3,4,5,6,7,8,9,10,11
1,1960,1960,1961,1962,1963,1964,None,None,None,None,None,None
2,U.S.,"179,323","179,975","182,973","185,738","188,438","191,085",None,None,None,None,None
3,Northeast,"44,678","44,802","45,384","45,833","46,402","46,953",None,None,None,None,None
4,Midwest,"51,619","51,715","52,185","52,583","53,073","53,655",None,None,None,None,None
5,South,"54,973","55,174","56,158","57,179","58,008","58,853",None,None,None,None,None

    0      1      2      3      4      5      6     7     8     9     10    11
53  VA  3,967  3,986  4,095  4,180  4,276  4,357  None  None  None  None  None
54  WA  2,853  2,855  2,882  2,942  2,955  2,961  None  None  None  None  None
55  WV  1,860  1,853  1,828  1,809  1,796  1,797  None  None  None  None  None
56  WI  3,952  3,962  4,009  4,049  4,112  4,165  None  None  None  None  None
57  WY    330    331    337    333    336    339  None  None  None  None  None

,0,1,2,3,4,5,6,7,8,9,10,11
59,1965,1966,1967,1968,1969,1970,None,None,None,None,None,None
60,U.S.,"193,460","195,501","197,374","199,312","201,306","203,185",None,None,None,None,None
61,Northeast,"47,451","47,788","48,106","48,435","48,678","49,000",None,None,None,None,None
62,Midwest,"54,225","54,840","55,289","55,692","56,106","56,577",None,None,None,None,None
63,South,"59,579","60,205","60,771","61,489","62,190","62,798",None,None,None,None,None

,0,1,2,3,4,5,6,7,8,9,10,11
111,VA,"4,411","4,456","4,508","4,558","4,614","4,648",None,None,None,None,None
112,WA,"2,967","3,057","3,174","3,270","3,343","3,409",None,None,None,None,None
113,WV,"1,786","1,775","1,769","1,763","1,746","1,744",None,None,None,None,None
114,WI,"4,232","4,274","4,303","4,345","4,378","4,418",None,None,None,None,None
115,WY,332,323,322,324,329,332,None,None,None,None,None

In [212]:
# fix column name
df_1 = df_1.rename(columns={1: 1960_0, 2:1960,3:1961,4:1962, 5:1963, 6:1964})

In [213]:
# pick first 7 columns
df_1 = df_1.iloc[1:, 0:7].reset_index(drop=True)
df_1.head()

       0        19600    1960     1961     1962     1963     1964
0       U.S.  179,323  179,975  182,973  185,738  188,438  191,085
1  Northeast   44,678   44,802   45,384   45,833   46,402   46,953
2    Midwest   51,619   51,715   52,185   52,583   53,073   53,655
3      South   54,973   55,174   56,158   57,179   58,008   58,853
4       West   28,053   28,284   29,246   30,142   30,955   31,624

In [214]:
# fix column name
df_2 = df_2.rename(columns={1: 1965, 2:1966,3:1967,4:1968, 5:1969, 6:1970})
df_2 = df_2.iloc[1:, 0:7].reset_index(drop=True)
df_2.head()

        0        1965     1966     1967     1968     1969     1970
0       U.S.  193,460  195,501  197,374  199,312  201,306  203,185
1  Northeast   47,451   47,788   48,106   48,435   48,678   49,000
2    Midwest   54,225   54,840   55,289   55,692   56,106   56,577
3      South   59,579   60,205   60,771   61,489   62,190   62,798
4       West   32,205   32,667   33,207   33,696   34,332   34,809

In [217]:
# combine df_1 and df_2 to df_60_70, delete the 19600 column

df_60_70 = pd.merge(df_1,df_2, on=0)
df_60_70 = df_60_70.drop(columns=19600)

In [257]:
# change data type to int

df_60_70.replace(',','', regex=True, inplace=True)
cols = df_60_70.columns.to_list()[1:]
df_60_70[cols] = df_60_70[cols].applymap(np.int64)

In [264]:
df_60_70 = df_60_70.T

In [266]:
# set the first row as the header
new_header = df_60_70.iloc[0] #grab the first row for the header
df_60_70 = df_60_70[1:] #take the data less the header row
df_60_70.columns = new_header #set the header row as the df header

In [273]:
df_60_70.columns

Index(['U.S.', 'Northeast', 'Midwest', 'South', 'West', 'AL', 'AK', 'AZ', 'AR',
       'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA',
       'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
       'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'],
      dtype='object', name=0)

In [274]:
df_60_70.drop(columns=['Northeast', 'Midwest', 'South', 'West'], inplace=True)

C:\Users\guym\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [278]:
# the numbers are in thousands
df_60_70 = df_60_70*1000

In [279]:
df_60_70

,U.S.,AL,AK,AZ,AR,CA,CO,CT,DE,DC,FL,GA,HI,ID,IL,IN,IA,KS,KY,LA,ME,MD,MA,MI,MN,...,MT,NE,NV,NH,NJ,NM,NY,NC,ND,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
1960,179975000,3274000,229000,1321000,1789000,15870000,1769000,2544000,449000,765000,5004000,3956000,642000,671000,10086000,4674000,2756000,2183000,3041000,3260000,975000,3113000,5160000,7834000,3425000,...,679000,1417000,291000,609000,6103000,954000,16838000,4573000,634000,9734000,2336000,1772000,11329000,855000,2392000,683000,3575000,9624000,900000,389000,3986000,2855000,1853000,3962000,331000
1961,182973000,3316000,238000,1407000,1806000,16497000,1844000,2586000,461000,778000,5243000,4015000,659000,684000,10130000,4730000,2756000,2215000,3054000,3287000,995000,3176000,5219000,7893000,3470000,...,696000,1446000,315000,618000,6265000,965000,17061000,4663000,641000,9854000,2380000,1787000,11392000,858000,2409000,693000,3622000,9820000,936000,390000,4095000,2882000,1828000,4009000,337000
1962,185738000,3323000,246000,1471000,1853000,17072000,1899000,2647000,469000,788000,5458000,4086000,684000,692000,10280000,4736000,2750000,2231000,3079000,3345000,994000,3263000,5263000,7933000,3513000,...,698000,1464000,352000,632000,6376000,979000,17301000,4707000,637000,9929000,2427000,1818000,11355000,871000,2423000,705000,3673000,10053000,958000,393000,4180000,2942000,1809000,4049000,333000
1963,188438000,3358000,256000,1521000,1875000,17668000,1936000,2727000,483000,798000,5628000,4172000,682000,683000,10402000,4799000,2747000,2217000,3096000,3377000,993000,3386000,5344000,8058000,3531000,...,703000,1476000,397000,649000,6531000,989000,17461000,4742000,644000,9986000,2439000,1853000,11424000,876000,2460000,708000,3718000,10159000,974000,397000,4276000,2955000,1796000,4112000,336000
1964,191085000,3395000,263000,1556000,1897000,18151000,1970000,2798000,497000,798000,5781000,4258000,700000,680000,10580000,4856000,2746000,2209000,3129000,3446000,993000,3492000,5448000,8187000,3558000,...,706000,1482000,426000,663000,6660000,1006000,17589000,4802000,649000,10080000,2446000,1888000,11519000,885000,2475000,701000,3771000,10270000,978000,399000,4357000,2961000,1797000,4165000,339000
1965,193460000,3443000,271000,1584000,1894000,18585000,1985000,2857000,507000,797000,5954000,4332000,704000,686000,10693000,4922000,2742000,2206000,3140000,3496000,997000,3600000,5502000,8357000,3592000,...,706000,1471000,444000,676000,6767000,1012000,17734000,4863000,649000,10201000,2440000,1937000,11620000,893000,2494000,692000,3798000,10378000,994000,404000,4411000,2967000,1786000,4232000,332000
1966,195501000,3464000,271000,1614000,1899000,18858000,2007000,2903000,516000,791000,6104000,4379000,710000,689000,10836000,4999000,2762000,2200000,3147000,3550000,999000,3695000,5535000,8512000,3617000,...,707000,1456000,446000,681000,6851000,1007000,17843000,4896000,647000,10330000,2454000,1969000,11664000,899000,2520000,683000,3822000,10492000,1009000,413000,4456000,3057000,1775000,4274000,323000
1967,197374000,3458000,278000,1646000,1901000,19176000,2053000,2935000,525000,791000,6242000,4408000,723000,688000,10947000,5053000,2793000,2197000,3172000,3581000,1004000,3757000,5594000,8630000,3659000,...,701000,1457000,449000,697000,6928000,1000000,17935000,4952000,626000,10414000,2489000,1979000,11681000,909000,2533000,671000,3859000,10599000,1019000,423000,4508000,3174000,1769000,4303000,322000
1968,199312000,3446000,285000,1682000,1902000,19394000,2120000,2964000,534000,778000,6433000,4482000,734000,695000,10995000,5093000,2803000,2216000,3195000,3603000,994000,3815000,5618000,8696000,3703000,...,700000,1467000,464000,709000,7005000,994000,18051000,5004000,621000,10516000,2503000,2004000,11741000,922000,2559000,669000,3878000,10819000,1029000,430000,4558000,3270000,1763000,4345000,324000
1969,201306000,3440000,296000,1737000,1913000,19711000,2166000,3000000,540000,762000,6641000,4551000,750000,707000,11039000,5143000,2805000,2236000,3198000,3619000,992000,3868000,5650000,8781000,3758000,...,694000,1474000,480000,724000,7095000,1011000,18105000,5031000,621000,10563000,2535000,2062000,11741000,932000,2570000,668000,3897000,11045000,1047000,437000,4614000,3343000,1746000,4378000,329000
1970,203185000,3444000,302000,1772000,1923000,19953000,2207000,3032000,548000,757000,6789000,4590000,770000,713000,11114000,5194000,2825000,2249000,3219000,3643000,994000,3922000,5689000,8875000,3805000,...,694000,1484000,489000,738000,7168000,1016000,18191000,5082000,618000,10652000,2559000,2091000,11794000,950000,2591000,666000,3924000,11197000,1059000,445000,4648000,3409000,1744000,4418000,332000

#### 2. 7080 data

In [293]:
df = pd.read_table(r'population/st7080ts.txt', skiprows=12, header=None)
df.head()

                                                                    0
0  Fip St    4/1/70      7/71      7/72      7/73      7/74      7/75
1    1 AL   3444354   3497076   3539400   3579780   3626499   3678814
2    2 AK    302583    315510    324464    330543    341063    376170
3    4 AZ   1775399   1895814   2008291   2124438   2223196   2284847
4    5 AR   1923322   1972312   2018638   2059256   2101403   2159526

In [294]:
# split column 0 by whitespace
df['population'] = df.loc[:,0].apply(lambda x: ' '.join(x.split()))
df = df['population'].str.split(' ', expand=True)

In [295]:
# find the row number which indicates the start of the 2nd session of data
df[df.iloc[:,0].str.contains('7/76')]

       0     1     2     3       4     5     6     7
53  7/76  7/77  7/78  7/79  4/1/80  None  None  None

In [296]:
df_1 = df[0:53]
display(df_1.head(), df_1.tail())

df_2 = df[53:106]
display(df_2.head(), df_2.tail())

     0   1        2        3        4        5        6        7
0  Fip  St   4/1/70     7/71     7/72     7/73     7/74     7/75
1    1  AL  3444354  3497076  3539400  3579780  3626499  3678814
2    2  AK   302583   315510   324464   330543   341063   376170
3    4  AZ  1775399  1895814  2008291  2124438  2223196  2284847
4    5  AR  1923322  1972312  2018638  2059256  2101403  2159526

,0,1,2,3,4,5,6,7
48,53,WA,3413244,3447553,3447885,3478782,3549946,3621339
49,54,WV,1744237,1770657,1797648,1806360,1815447,1842250
50,55,WI,4417821,4462155,4502412,4524244,4545782,4578986
51,56,WY,332416,340285,347345,354061,365501,381695
52,US,203302031,206827026,209283905,211357481,213341554,215465255,None

       0     1        2        3        4        5        6     7
53  7/76  7/77     7/78     7/79   4/1/80     None     None  None
54     1    AL  3735139  3780403  3831836  3866248  3893888  None
55     2    AK   400969   403436   404766   402753   401851  None
56     4    AZ  2346157  2425197  2515316  2635571  2718215  None
57     5    AR  2170161  2209010  2243127  2271333  2286435  None

      0          1          2          3          4          5        6     7
101  53         WA    3693610    3776050    3889073    4017632  4132156  None
102  54         WV    1879503    1908088    1923395    1942146  1949644  None
103  55         WI    4595904    4626514    4646108    4682811  4705767  None
104  56         WY     396952     413354     432880     454378   469557  None
105  US  217562735  219759869  222095080  224567241  226545805     None  None

In [297]:
# fix column name
df_1 = df_1.rename(columns={2: 1970, 3:1971, 4:1972, 5:1973, 6:1974, 7:1975})
df_2 = df_2.rename(columns = {2:1976, 3:1977, 4:1978, 5:1979, 6: 1980})

In [298]:
df_1 = df_1.iloc[1:, 1:].reset_index(drop=True)
df_2 = df_2.iloc[1:, 1:].reset_index(drop=True)

In [300]:
# shift the last row to right
df_1.iloc[51,:] = df_1.iloc[51,:].shift(periods=1, axis='rows', fill_value='U.S.')
df_2.iloc[51,:] = df_2.iloc[51,:].shift(periods=1, axis='rows', fill_value='U.S.')

In [308]:
# drop the last column 
df_2.drop(columns=7, inplace=True)

In [311]:
# combine df_1 and df_2 to df_70_80
df_70_80 = pd.merge(df_1,df_2, on=1)

In [320]:
df_70_80 = df_70_80.set_index(1).T

In [322]:
# shift the last column to first
first_column = df_70_80.pop('U.S.')
df_70_80.insert(0, 'U.S.', first_column)

In [380]:
# change data type to int
df_70_80 = df_70_80.astype(int)

#### 3. 8090 data

In [340]:
df = pd.read_table(r'population/st8090ts.txt', skiprows=9, header=None)
df.head()

                                                       0
0         4/80cen     7/81      7/82      7/83      7/84
1  US  226545805 229465714 231664458 233791994 235824902
2  AL    3893888   3918531   3925266   3934102   3951820
3  AK     401851    418491    449606    488417    513702
4  AZ    2718215   2810107   2889861   2968925   3067135

In [341]:
# split column 0 by whitespace
df['population'] = df.loc[:,0].apply(lambda x: ' '.join(x.split()))
df = df['population'].str.split(' ', expand=True)

In [342]:
# find the row number which indicates the start of the 2nd session of data
df[df.iloc[:,0].str.contains('7/85')]

       0     1     2     3     4        5     6
53  7/85  7/86  7/87  7/88  7/89  4/90cen  None

In [343]:
df_1 = df[0:53]
display(df_1.head(), df_1.tail())

df_2 = df[53:]
display(df_2.head(), df_2.tail())

         0          1          2          3          4          5     6
0  4/80cen       7/81       7/82       7/83       7/84       None  None
1       US  226545805  229465714  231664458  233791994  235824902  None
2       AL    3893888    3918531    3925266    3934102    3951820  None
3       AK     401851     418491     449606     488417     513702  None
4       AZ    2718215    2810107    2889861    2968925    3067135  None

     0        1        2        3        4        5     6
48  VA  5346818  5444097  5492783  5564657  5643870  None
49  WA  4132156  4235731  4276552  4300266  4343656  None
50  WV  1949644  1954124  1949604  1945061  1927697  None
51  WI  4705767  4726343  4728870  4721438  4735563  None
52  WY   469557   491712   506400   510345   504896  None

       0          1          2          3          4          5          6
53  7/85       7/86       7/87       7/88       7/89    4/90cen       None
54    US  237923795  240132887  242288918  244498982  246819230  248709873
55    AL    3972523    3991569    4015264    4023844    4030222    4040587
56    AK     532495     544268     539309     541983     547159     550043
57    AZ    3183538    3308262    3437103    3535183    3622185    3665228

      0        1        2        3        4        5        6
101  VA  5715153  5811700  5932268  6036909  6120246  6187358
102  WA  4400098  4452720  4531901  4639893  4746316  4866692
103  WV  1906831  1882350  1857585  1830215  1806568  1793477
104  WI  4747767  4755618  4777919  4822388  4856574  4891769
105  WY   499695   495633   476965   465101   458374   453588

In [344]:
# fix column name
df_1 = df_1.rename(columns={1: '1980_cen', 2:1981, 3:1982, 4:1983, 5:1984})
df_2 = df_2.rename(columns = {1:1985, 2:1986, 3:1987, 4:1988, 5: 1989, 6: '1990_cen'})

In [345]:
df_1 = df_1.iloc[1:, :-1].reset_index(drop=True)
df_2 = df_2.iloc[1:, :].reset_index(drop=True)

In [348]:
# combine df_1 and df_2 to df_80_90
df_80_90 = pd.merge(df_1,df_2, on=0)

In [352]:
df_80_90 = df_80_90.set_index(0).T

In [355]:
# change first column name to U.S.
df_80_90.rename(columns={'US':'U.S.'}, inplace=True )

In [356]:
df_80_90.shape

(11, 52)

In [376]:
# change data type to int
df_80_90 = df_80_90.astype(int)

#### 4. 9000 data

data was preprocessed before using txt editor

In [386]:
df = pd.read_table(r'population/st9000ts.txt', skiprows=16, header=None)
df.head()

                                                                                                                                                                             0
0                Number Code      7/1/2000    7/1/1999    7/1/1998    7/1/1997    7/1/1996    7/1/1995    7/1/1994    7/1/1993    7/1/1992    7/1/1991    7/1/1990    4/1/1990
1           1    00            275,264,999 272,787,485 270,334,431 267,846,741 265,300,335 262,876,514 260,401,091 257,857,622 255,104,027 252,208,537 249,470,539 248,790,925
2     1    01                    4,385,739   4,369,224   4,350,594   4,320,692   4,290,678   4,263,125   4,233,214   4,193,639   4,139,880   4,091,397   4,048,526   4,040,389
3    1    02                       622,091     619,596     615,292     608,867     604,924     601,349     600,628     596,999     587,105     569,297     553,110     550,043
4     1    04                    4,882,966   4,774,104   4,666,824   4,552,210   4,432,497   4,307,149   4,147,754   3,993,996   3,868,031   3,762,955   3,679,118   3,665,339

In [387]:
# split column 0 by whitespace
df['population'] = df.loc[:,0].apply(lambda x: ' '.join(x.split()))
df = df['population'].str.split(' ', expand=True)

In [434]:
# set the first row as header
df.columns = df.iloc[0]
df = df[1:]

##### map fips code with state code

In [429]:
df_fips = pd.read_table(r'population/fips.txt', sep=',', dtype='str')

In [430]:
# remove white space 
df_fips[' st']= df_fips[' st'].apply(lambda x: x.replace(' ', ''))
df_fips[' stusps']= df_fips[' stusps'].apply(lambda x: x.replace(' ', ''))

In [431]:
dict_df = dict(zip(df_fips[' st'], df_fips[' stusps']))
print(dict_df)

{'01': 'AL', '02': 'AK', '04': 'AZ', '05': 'AR', '06': 'CA', '08': 'CO', '09': 'CT', '10': 'DE', '11': 'DC', '12': 'FL', '13': 'GA', '15': 'HI', '16': 'ID', '17': 'IL', '18': 'IN', '19': 'IA', '20': 'KS', '21': 'KY', '22': 'LA', '23': 'ME', '24': 'MD', '25': 'MA', '26': 'MI', '27': 'MN', '28': 'MS', '29': 'MO', '30': 'MT', '31': 'NE', '32': 'NV', '33': 'NH', '34': 'NJ', '35': 'NM', '36': 'NY', '37': 'NC', '38': 'ND', '39': 'OH', '40': 'OK', '41': 'OR', '42': 'PA', '44': 'RI', '45': 'SC', '46': 'SD', '47': 'TN', '48': 'TX', '49': 'UT', '50': 'VT', '51': 'VA', '53': 'WA', '54': 'WV', '55': 'WI', '56': 'WY'}

In [432]:
# add 00, U.S. to the dict_df
dict_df['00'] ='U.S.'

In [437]:
df['Code'] = df['Code'].map(dict_df)

C:\Users\guym\AppData\Local\Temp/ipykernel_21340/2354372885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Code'] = df['Code'].map(dict_df)

In [439]:
# set 'Code' column as index column 
df.set_index('Code', inplace=True)

In [442]:
df.drop(columns='Number', inplace=True)

C:\Users\guym\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [460]:
# fix data type
df = df.replace(',', '', regex=True)
df = df[:-1]
df = df.astype(int)

In [467]:
# reorder columns
df = df[df.columns[::-1]]

In [469]:
df_90_00  = df.T

In [474]:
df_90_00.shape

(12, 52)

#### 5. 0009 data

In [518]:
df = pd.read_csv(r'population\2000-2009.csv', header=3)

In [519]:
# remove rows 1-4 and rows 56-62
df.drop(index=[1,2,3,4,56,57,58,59,60,61,62], inplace=True)
# remove the last two columns
df = df.iloc[:, :-2]

In [520]:
# fix state name
df.iloc[:,0] = df.iloc[:,0].str.replace('.', '', regex=True)

In [521]:
dict_df2 = dict(zip(df_fips['stname'], df_fips[' stusps']))
dict_df2['United States'] = 'U.S.'
print(dict_df2)

{'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'United States': 'U.S.'}

In [522]:
df['Unnamed: 0'] = df['Unnamed: 0'].map(dict_df2)

In [525]:
# set state abbr. as index
df.set_index('Unnamed: 0', inplace=True)

In [526]:
# reorder columns
df = df[df.columns[::-1]]

# rename column names
name_list = np.arange(2000,2010,1)
df.columns = name_list

In [534]:
# change data type
df.replace(',', '', regex=True, inplace=True)

In [537]:
df = df.astype(int)

In [539]:
df_00_09 = df.T

In [541]:
df_00_09.shape

(10, 52)

#### 6. 1019 data

In [551]:
df = pd.read_excel(r'population\2010-2019.xlsx', header=3)

In [557]:
# drop 2nd and 3rd columns
df.drop(columns=['Census', 'Estimates Base'], inplace=True)

In [562]:
# drop row 1-4 and 56-62
df.drop(index=[1,2,3,4,56,57,58,59,60,61,62], inplace=True)

In [564]:
# fix state name
df.iloc[:,0] = df.iloc[:,0].str.replace('.', '', regex=True)
df['Unnamed: 0'] = df['Unnamed: 0'].map(dict_df2)

In [568]:
# set state abbr. as index
df.set_index('Unnamed: 0', inplace=True)

In [571]:
# change data type from float to int
df  = df.astype(int)

In [573]:
df_10_19 = df.T

In [574]:
df_10_19.shape

(10, 52)

#### 7. 2023 data

In [579]:
df = pd.read_excel(r'population\2020-2023.xlsx', header=3)

In [582]:
# drop first column
df.drop(columns='Unnamed: 1', inplace=True)

In [586]:
# drop row 1-4 and 56-63
df.drop(index=[1,2,3,4,56,57,58,59,60,61,62,63], inplace=True)

In [588]:
# fix state name
df.iloc[:,0] = df.iloc[:,0].str.replace('.', '', regex=True)
df['Unnamed: 0'] = df['Unnamed: 0'].map(dict_df2)

In [590]:
# set state abbr. as index
df.set_index('Unnamed: 0', inplace=True)

In [593]:
# change data type from float to int
df  = df.astype(int)

In [594]:
df_20_23 = df.T

In [595]:
df_20_23.shape

(4, 52)

#### Combine census data

In [599]:
df_60_23 = pd.concat([df_60_70, df_70_80, df_80_90,df_90_00, df_00_09, df_10_19, df_20_23])

In [614]:
df_60_23 = df_60_23.reset_index()

In [619]:
# delete row 10, 22,32,33, 44
df_60_23.drop(index=[10,22,32,33,44], inplace=True)

In [628]:
df_60_23.reset_index(drop=True, inplace=True )

In [634]:
df_60_23.head(50)

,index,U.S.,AL,AK,AZ,AR,CA,CO,CT,DE,DC,FL,GA,HI,ID,IL,IN,IA,KS,KY,LA,ME,MD,MA,MI,...,MT,NE,NV,NH,NJ,NM,NY,NC,ND,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,1960,179975000,3274000,229000,1321000,1789000,15870000,1769000,2544000,449000,765000,5004000,3956000,642000,671000,10086000,4674000,2756000,2183000,3041000,3260000,975000,3113000,5160000,7834000,...,679000,1417000,291000,609000,6103000,954000,16838000,4573000,634000,9734000,2336000,1772000,11329000,855000,2392000,683000,3575000,9624000,900000,389000,3986000,2855000,1853000,3962000,331000
1,1961,182973000,3316000,238000,1407000,1806000,16497000,1844000,2586000,461000,778000,5243000,4015000,659000,684000,10130000,4730000,2756000,2215000,3054000,3287000,995000,3176000,5219000,7893000,...,696000,1446000,315000,618000,6265000,965000,17061000,4663000,641000,9854000,2380000,1787000,11392000,858000,2409000,693000,3622000,9820000,936000,390000,4095000,2882000,1828000,4009000,337000
2,1962,185738000,3323000,246000,1471000,1853000,17072000,1899000,2647000,469000,788000,5458000,4086000,684000,692000,10280000,4736000,2750000,2231000,3079000,3345000,994000,3263000,5263000,7933000,...,698000,1464000,352000,632000,6376000,979000,17301000,4707000,637000,9929000,2427000,1818000,11355000,871000,2423000,705000,3673000,10053000,958000,393000,4180000,2942000,1809000,4049000,333000
3,1963,188438000,3358000,256000,1521000,1875000,17668000,1936000,2727000,483000,798000,5628000,4172000,682000,683000,10402000,4799000,2747000,2217000,3096000,3377000,993000,3386000,5344000,8058000,...,703000,1476000,397000,649000,6531000,989000,17461000,4742000,644000,9986000,2439000,1853000,11424000,876000,2460000,708000,3718000,10159000,974000,397000,4276000,2955000,1796000,4112000,336000
4,1964,191085000,3395000,263000,1556000,1897000,18151000,1970000,2798000,497000,798000,5781000,4258000,700000,680000,10580000,4856000,2746000,2209000,3129000,3446000,993000,3492000,5448000,8187000,...,706000,1482000,426000,663000,6660000,1006000,17589000,4802000,649000,10080000,2446000,1888000,11519000,885000,2475000,701000,3771000,10270000,978000,399000,4357000,2961000,1797000,4165000,339000
5,1965,193460000,3443000,271000,1584000,1894000,18585000,1985000,2857000,507000,797000,5954000,4332000,704000,686000,10693000,4922000,2742000,2206000,3140000,3496000,997000,3600000,5502000,8357000,...,706000,1471000,444000,676000,6767000,1012000,17734000,4863000,649000,10201000,2440000,1937000,11620000,893000,2494000,692000,3798000,10378000,994000,404000,4411000,2967000,1786000,4232000,332000
6,1966,195501000,3464000,271000,1614000,1899000,18858000,2007000,2903000,516000,791000,6104000,4379000,710000,689000,10836000,4999000,2762000,2200000,3147000,3550000,999000,3695000,5535000,8512000,...,707000,1456000,446000,681000,6851000,1007000,17843000,4896000,647000,10330000,2454000,1969000,11664000,899000,2520000,683000,3822000,10492000,1009000,413000,4456000,3057000,1775000,4274000,323000
7,1967,197374000,3458000,278000,1646000,1901000,19176000,2053000,2935000,525000,791000,6242000,4408000,723000,688000,10947000,5053000,2793000,2197000,3172000,3581000,1004000,3757000,5594000,8630000,...,701000,1457000,449000,697000,6928000,1000000,17935000,4952000,626000,10414000,2489000,1979000,11681000,909000,2533000,671000,3859000,10599000,1019000,423000,4508000,3174000,1769000,4303000,322000
8,1968,199312000,3446000,285000,1682000,1902000,19394000,2120000,2964000,534000,778000,6433000,4482000,734000,695000,10995000,5093000,2803000,2216000,3195000,3603000,994000,3815000,5618000,8696000,...,700000,1467000,464000,709000,7005000,994000,18051000,5004000,621000,10516000,2503000,2004000,11741000,922000,2559000,669000,3878000,10819000,1029000,430000,4558000,3270000,1763000,4345000,324000
9,1969,201306000,3440000,296000,1737000,1913000,19711000,2166000,3000000,540000,762000,6641000,4551000,750000,707000,11039000,5143000,2805000,2236000,3198000,3619000,992000,3868000,5650000,8781000,...,694000,1474000,480000,724000,7095000,1011000,18105000,5031000,621000,10563000,2535000,2062000,11741000,932000,2570000,668000,3897000,11045000,1047000,437000,4614000,3343000,1746000,4378000,329000
10,1970,203302031,3444354,302583,1775399,1923322,19971069,2209596,3032217,548104,756668,6791418,4587930,769913,713015,11110285,5195392,2825368,2249071,3220711,3644637,993722,3923897,5689170,8881826,...,694409,1485333,488738,737681,7171112,1017055,18241391,5084411,617792,10657423,2559463,2091533,11800766,949723,2590713,666257,3926018,11198655,1059273,444732,4651448,3413244,1744237,4417821,332416
11,1971,206827026,3497076,315510,1895814,1972312,20345939,2303524,3060938,564708,749781,7158304,4711550,801644,738753,11202397,5253396,2851705,2246600,3298053,3710487,1015390,4018324,5737580,8974186,...,710814,1504604,520018,761851,7281107,1053737,18357982,5203531,626760,10734818,2618601,2151022,11886400,963107,2662269,671297,4013608,11509848,1101192,454318,4750838,3447553,1770657,4462155,340285
12,1972,209283905,3539400,324464,2008291,2018638,20585469,2404619,3068699,572913,742241,7511463,4809490,828331,763237,11251948,5302435,2860287,2256375,3335728,3761646,1034292,4073499,5760302,9028944,...,718732,1519013,546789,781107,7335042,1078697,18339400,5301150,631119,10746993,2658646,2197297,11908233,974790,2719197,677234,4094611,11759148,1135449,463143,4824472,3447885,1797648,4502412,347345
13,1973,211357481,3579780,330543,2124438,2059256,20868728,2495868,3067814,577759,731488,7913696,4910374,851595,782074,11251367,5338277,2863715,2265603,3371024,3788375,1045655,4097974,5781172,9077956,...,726798,1529567,568991,800951,7333083,1105529,18177063,5389852,632675,10767314,2695931,2241932,11890527,975738,2776605,678715,4147401,12019543,1170040,468430,4901292,3478782,1806360,4524244,354061
14,1974,213341554,3626499,341063,2223196,2101403,21173865,2541406,3074047,581418,717947,8298762,4999419,867978,807990,11262145,5361890,2867530,2269499,3416315,3820109,1059040,4118815,5773548,9117507,...,736419,1539191,596822,815914,7332411,1131309,18049775,5470911,634559,10765759,2734768,2285013,11870884,950615,2844749,679585,4213509,12268629,1200471,473002,4971069,3549946,1815447,4545782,365501
15,1975,215465255,3678814,376170,2284847,2159526,21537849,2586192,3082500,586589,706871,8518422,5064075,886160,831982,11291743,5365766,2880847,2280578,3467769,3886104,1071995,4139096,5757756,9117668,...,748208,1543117,619972,828555,7337765,1159944,18003485,5547188,638886,10770425,2774683,2329661,11906095,942788,2902028,681042,4275566,12568843,1236030,479713,5047395,3621339,1842250,4578986,381695
16,1976,217562735,3735139,400969,2346157,2170161,21935909,2632306,3083335,590166,692295,8667379,5132812,904191,856983,11342853,5389088,2903082,2301001,3529257,3950605,1088412,4150539,5743672,9129205,...,757317,1550911,646975,845248,7339745,1189295,17940541,5607964,645797,10752662,2826815,2378262,11897378,946089,2943657,686390,4346928,12904089,1274928,484928,5121863,3693610,1879503,4595904,396952
17,1977,219759869,3780403,403436,2425197,2209010,22352396,2696140,3085722,591829,677228,8856183,5219697,918259,883469,11386316,5425638,2913573,2320647,3573693,4014459,1103578,4169595,5738199,9171110,...,769953,1556842,678333,869763,7337169,1215720,17812602,5685607,649769,10771394,2870014,2446673,11893591,950230,2991681,688480,4422921,13193050,1319512,491931,5193112,3776050,1908088,4626514,413354
18,1978,222095080,3831836,404766,2515316,2243127,22835958,2766748,3091627,594776,665052,9102032,5295751,931584,910690,11412561,5470214,2918069,2335657,3609976,4068579,1113566,4183603,5736469,9217761,...,782317,1563884,719436,891520,7350804,1238034,17680589,5759492,651301,10795581,2917336,2518298,11879396,951816,3044364,688580,4486314,13500429,1367510,498109,5270240,3889073,1923395,4646108,432880
19,1979,224567241,3866248,402753,2635571,2271333,23256880,2849234,3095917,594984,650016,9426159,5401384,953306,932627,11396837,5501174,2915739,2350906,3641804,4137665,1122563,4191160,5738404,9266268,...,787305,1567344,765367,909074,7366512,1284722,17583838,5823491,652896,10798298,2975310,2588012,11887975,950382,3090267,688335,4560473,13888371,1420238,505372,5307945,4017632,1942146,4682811,454378
20,1980,226545805,3893888,401851,2718215,2286435,23667902,2889964,3107576,594338,638333,9746324,5463105,964691,943935,11426518,5490224,2913808,2363679,3660777,4205900,1124660,4216975,5737037,9262078,...,786690,1569825,800493,920610,7364823,1302894,17558072,5881766,652717,10797630,3025290,2633105,11863895,947154,3121820,690768,4591120,14229191,1461037,511456,5346818,4132156,1949644,4705767,469557
21,1981,229465714,3918531,418491,2810107,2293201,24285933,2977898,3128836,595975,636893,10192774,5568345,978195,962204,11443458,5480435,2907983,2384849,3670394,4283303,1133033,4261905,5768685,9209287,...,795328,1578515,847655,936621,7407472,1332748,17567734,5956653,659505,10788330,3096164,2667982,11858567,953013,3179255,689584,4627658,14746318,1515471,515594,5444097,4235731,1954124,4726343,491712
22,1982,231664458,3925266,449606,2889861,2294257,24820009,3061564,3139013,599148,634174,10471407,5649792,993780,973721,11423412,5467922,2888189,2401202,3683445,4352608,1136684,4282923,5771222,9115198,...,803986,1581780,881537,947719,7430968,1363823,17589738,6019101,668972,10757087,3206123,2664922,11845146,954170,3207614,690597,4646041,15331415,1558314,519109,5492783,4276552,1949604,4728870,506400
23,1983,233791994,3934102,488417,2968925,2305761,25360026,3133630,3162354,605458,632433,10749851,5728250,1012717,981869,11408818,5450395,2870543,2415531,3694484,4395316,1144772,4313327,5799407,9047754,...,814031,1584293,901977,958134,7467785,1394361,17686905,6077056,676688,10737632,3290402,2653066,11837723,956382,3234066,693008,4659749,15751676,1594943,523302,5564657,4300266,1945061,4721438,510345
24,1984,235824902,3951820,513702,3067135,2319768,25844393,3169992,3180014,611565,633382,11039925,5834954,1027922,990839,11412132,5458322,2858618,2424086,3695453,4400477,1155635,4365243,5840773,9049452,...,820905,1588639,924922,976864,7515473,1416717,17745684,6164006,680497,10737746,3285533,2666588,11815172,961894,3271868,697249,4686737,16007086,1622342,526660,5643870,4343656,1927697,4735563,504896
25,1985,237923795,3972523,532495,3183538,2327046,26441109,3208723,3201131,618280,634549,11351118,5962661,1039698,994051,11399806,5459211,2829684,2427405,3694826,4408118,1162936,4413071,5880733,9076293,...,822320,1584664,951030,996753,7565528,1438361,17791672,6253954,676980,10734926,3271332,2672652,11770862,968955,3303209,698402,4715296,16272734,1642910,530035,5715153,4400098,1906831,4747767,499695
26,1986,240132887,3991569,544268,3308262,2331984,27102237,3237450,3223740,627559,638269,11667505,6084666,1051762,990224,11387257,5454108,2791970,2432619,3687809,4406919,1170126,4486957,5902678,9127775,...,813739,1574333,980613,1025053,7622159,1462729,17833419,6321578,669512,10730268,3252735,2683528,11782752,977341,3342758,696034,4738708,16561113,1662834,534066,5811700,4452720,1882350,4755618,495633
27,1987,242288918,4015264,539309,3437103,2342355,27777158,3260480,3247291,636947,636930,11997283,6208467,1067918,984997,11391178,5473012,2767011,2445367,3683329,4344148,1184574,4565557,5935204,9187481,...,805063,1566547,1023376,1054289,7670742,1478520,17868848,6403700,661136,10760090,3210122,2700991,11810866,989604,3380506,696036,4782927,16621791,1678119,540267,5932268,4531901,1857585,4777919,476965
28,1988,244498982,4023844,541983,3535183,2342656,28464249,3262281,3271953,647622,630432,12306395,6316142,1079828,985664,11390183,5491735,2768388,2461996,3679999,4288863,1203840,4657904,5979982,9217998,...,800202,1571477,1075022,1082577,7712333,1490337,17941309,6480594,655331,10798552,3167057,2741297,11845752,996408,3412096,698165,4822437,16667022,1689372,549763,6036909,4639893,1830215,4822388,465101
29,1989,246819230,4030222,547159,3622185,2346358,29218164,3275818,3283403,658273,624168,12637715,6411099,1094588,994416,11409782,5523693,2770592,2472849,3677306,4252894,1219961,4727301,6015478,9253295,...,799636,1574864,1137382,1104522,7726089,1503901,17983086,6565459,646351,10829217,3150307,2790575,11865996,1000666,3456775,696701,4854444,16806735,1705864,557707,6120246,4746316,1806568,4856574,458374
30,1990,249470539,4048526,553110,3679118,2354375,29951301,3303939,3289201,669085,603847,13018645,6506585,1112747,1011891,11447418,5555107,2779806,2480705,3692596,4219164,1231287,4797625,6018915,9310655,...,799861,1580682,1218665,1111841,7757613,1519956,18003744,6657142,637389,10861944,3147108,2858571,11895794,1004653,3499075,696667,4890706,17045207,1729732,564512,6213734,4900906,1792476,4902342,453397
31,1991,252208537,4091397,569297,3762955,2371932,30428825,3368312,3289029,680609,593586,13294549,6622368,1132944,1038790,11539133,5602755,2791504,2495521,3715003,4241373,1234898,4856816,5999910,9397014,...,807924,1590971,1285334,1107201,7787764,1547045,18036925,6749306,634287,10934551,3166769,2919230,11944456,1003936,3559804,701488,4947420,17339155,1772102,567170,6285358,5014723,1798318,4953129,457761
32,1992,255104027,4139880,587105,3868031,2395473,30897912,3461034,3275796,690368,584583,13512406,6760995,1151612,1066993,11639811,5649742,2807284,2526496,3752102,4271387,1234562,4903785,5995341,9472604,...,822526,1602662,1331019,1112830,7831729,1580223,18091751,6833245,635552,11009068,3204656,2974627,11981357,1000515,3601061,708798,5014715,17651865,1822510,570150,6385473,5140740,1805644,5005020,463503
33,1993,257857622,4193639,596999,3993996,2426123,31163562,3561830,3273191,699664,576716,13723884,6895609,1162609,1101698,11730601,5702928,2820824,2548101,3792690,4285128,1236572,4943601,6012287,9530755,...,839977,1612409,1380513,1122253,7878181,1614023,18149989,6948605,637335,11071727,3229220,3035060,12021282,997715,3634976,716311,5086299,18002986,1877085,573966,6467821,5249425,1816334,5055333,469013
34,1994,260401091,4233214,600628,4147754,2453855,31338929,3654726,3269084,708586,565306,13968299,7046950,1174004,1135582,11808803,5746110,2829576,2569464,3823411,4306550,1235099,4986141,6031966,9585267,...,854950,1621695,1456505,1133053,7921553,1652327,18164519,7061926,639671,11114092,3250596,3087548,12037435,993297,3667673,723059,5163455,18353148,1931657,578850,6538330,5336245,1818776,5094966,474864
35,1995,262876514,4263125,601349,4307149,2484822,31516300,3738874,3266033,718433,551537,14196978,7189882,1180010,1165100,11879690,5792645,2841128,2587413,3855526,4328217,1234086,5024521,6062684,9660490,...,868574,1635370,1525791,1145679,7968225,1682525,18158980,7186609,641464,11155565,3270527,3141881,12040086,989114,3701082,728290,5241794,18694137,1977655,582800,6603135,5432380,1821583,5136858,478400
36,1996,265300335,4290678,604924,4432497,2510890,31802670,3813253,3267402,727213,538529,14439807,7333341,1183600,1188134,11947905,5835611,2848674,2598639,3881264,4338864,1237834,5057978,6085720,9739509,...,876659,1647818,1596380,1160398,8012140,1706588,18152399,7308907,642762,11186963,3294973,3195549,12032709,987720,3738446,730694,5314086,19020201,2023381,586267,6669956,5511105,1820173,5172699,480042
37,1997,267846741,4320692,608867,4552210,2529275,32232517,3891835,3268896,735220,528990,14696561,7487498,1188140,1210676,12006418,5873363,2854745,2616888,3908047,4351680,1241645,5094952,6116556,9786240,...,878720,1656173,1678236,1172656,8058675,1721386,18148675,7430243,640903,11212937,3320110,3243505,12010957,986891,3791374,730890,5379058,19363188,2066859,588589,6734844,5605785,1815981,5199754,480006
38,1998,270334431,4350594,615292,4666824,2543887,32696221,3969993,3273627,744435,521557,14919136,7635570,1188452,1231545,12067031,5905492,2861377,2639582,3934140,4361664,1244055,5133748,6146726,9821330,...,879701,1661259,1750247,1186616,8104405,1732400,18174556,7546582,637553,11238448,3344727,3282191,11999656,987326,3840071,730864,5432381,19721171,2104596,590555,6793358,5689954,1811952,5221927,479997
39,1999,272787485,4369224,619596,4774104,2558581,33169777,4057854,3283174,753407,521063,15113610,7786307,1180408,1251870,12128399,5939934,2870906,2654727,3960119,4372680,1249750,5175466,6176411,9866392,...,883162,1665876,1813880,1200085,8153427,1739332,18226519,7650268,633129,11253809,3368915,3314122,11988687,991054,3884591,733291,5483324,20060997,2133658,593574,6878631,5752518,1807550,5247595,479582
40,2000,282171957,4451849,627499,5166697,2678288,33994571,4328070,3411726,786411,571744,16047118,8230161,1211566,1299551,12437645,6091649,2928184,2692810,4048903,4468979,1277211,5310579,6363015,9955308,...,903293,1713345,2018211,1240446,8430921,1820813,18998044,8079383,641200,11363844,3453943,3430891,12285504,1050736,4023570,755694,5703243,20945963,2244314,609903,7104533,5911122,1806962,5374254,493958
41,2001,285081556,4464034,633316,5304417,2691068,34485623,4433068,3428433,794620,578042,16353869,8419594,1218305,1321170,12507833,6124967,2929424,2701456,4069191,4460816,1284791,5375033,6411730,10006093,...,905873,1717948,2094509,1256879,8489469,1828809,19088978,8203451,636267,11396874,3464729,3470382,12299533,1058051,4062701,758983,5755443,21332847,2291250,612153,7191304,5987785,1798582,5408769,492982
42,2002,287803914,4472420,642691,5452108,2704732,34876194,4504265,3448382,804131,579585,16680309,8585535,1228069,1342149,12558229,6149007,2929264,2712598,4091330,4466068,1293938,5439913,6440978,10038767,...,909868,1725083,2166214,1271163,8544115,1850035,19161873,8316617,633617,11420981,3484754,3517111,12326302,1066034,4103934,762107,5803306,21710788,2334473,614950,7283541,6056187,1799411,5446766,497069
43,2003,290326418,4490591,650884,5591206,2722291,35251107,4548775,3467673,814905,577777,16981183,8735259,1239298,1364109,12597981,6181789,2932799,2721955,4118627,4474726,1303102,5496708,6451637,10066351,...,916750,1733680,2236949,1281871,8583481,1869683,19231101,8416451,632809,11445180,3498687,3550180,12357524,1071504,4146474,766975,5856522,22057801,2379938,616559,7373694,6113262,1802238,5476796,499189
44,2004,293045739,4512190,661569,5759425,2746161,35558419,4599681,3474610,826639,579796,17375259,8913676,1252782,1391718,12645295,6214454,2941358,2730765,4147970,4489327,1308253,5542659,6451279,10089305,...,925887,1742184,2328703,1292766,8611530,1891829,19297933,8531283,636303,11464593,3514449,3573505,12388368,1071414,4201306,774283,5916762,22418319,2438915,618145,7468914,6184289,1803302,5511385,502988
45,2005,295753151,4545049,669488,5974834,2776221,35795255,4660780,3477416,839906,582049,17783868,9097428,1266117,1425862,12674452,6253120,2949450,2741771,4182293,4497691,1311631,5582520,6453031,10090554,...,934801,1751721,2408804,1301415,8621837,1916538,19330891,8669452,635365,11475262,3532769,3617869,12418161,1064989,4256199,780084,5995748,22801920,2499637,618814,7563887,6261282,1803920,5541443,506242
46,2006,298593212,4597688,677325,6192100,2815097,35979208,4753044,3485162,853022,583978,18088505,9330086,1275599,1464413,12718011,6301700,2964391,2755700,4219374,4240327,1314963,5612196,6466399,10082438,...,946230,1760435,2493405,1311894,8623721,1942608,19356564,8866977,636771,11492495,3574334,3677545,12471142,1060196,4339399,788519,6089453,23369024,2583724,619985,7646996,6372243,1807237,5571680,512841
47,2007,301579895,4637904,682297,6362241,2842194,36226122,4842259,3488633,864896,586409,18277888,9533761,1276832,1499245,12779417,6346113,2978719,2775586,4256278,4376122,1317308,5634242,6499275,10050847,...,957225,1769912,2567752,1317343,8636043,1968731,19422777,9064074,638202,11520815,3612186,3732957,12522531,1055009,4424232,797035,6172862,23837701,2663796,620460,7719749,6464979,1811198,5601571,523414
48,2008,304374846,4677464,688125,6499377,2867764,36580371,4935213,3502932,876211,590074,18423878,9697838,1287481,1527506,12842954,6388309,2993987,2797375,4287931,4451513,1319691,5658655,6543595,10002486,...,968035,1781949,2615772,1321872,8663398,1986763,19467789,9247134,641421,11528072,3644025,3782991,12566368,1053502,4503280,804532,6240456,24304290,2727343,621049,7795424,6566073,1814873,5627610,532981

In [633]:
# fix year for rows 30- 39
i = np.arange(30,40,1)
y = np.arange(1990,2020, 1)
for i, y in zip(i, y):
    df_60_23.iloc[i,0] = y

In [636]:
# fix column name 
df_60_23.rename(columns={'index':'year'}, inplace=True)

### save census data

In [638]:
df_60_23.to_csv('census_60_23.csv')